<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
	<header>
			<h1>Blog</h1>
		</header>






		<footer>Made By Kami</footer>
	</body>
</html>